.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 5;
  cursor: pointer;
}

.Confirmation {
  width: 40%;
  height: 25%;
  max-width: 1000px;
  max-height: 800px;
  min-height: 150px;
  min-width: 300px;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  align-items: center;
  background-color: white;
  z-index: 10;
  cursor: default;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h4 {
    width: 85%;
    margin: 0 auto;
  }

  .close-icon {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

}