.BoardPage {
  margin-top: 50px;
  
  
  .Columns {
    overflow-y: scroll;
    align-items: flex-start;
  }
  .add-column-button {
    height: 50px;
    width: 50px;
    background-color: #ebecf0;
    &:hover {
      background-color: #d8d8dd;
    }
  }
}

.BoardPage__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
