.BoardPage {
  position: relative;
  margin-top: 50px;
  z-index: 5;
  
  
  .Columns {
    overflow-y: scroll;
    align-items: flex-start;
  }
  .add-column-button {
    height: 50px;
    width: 50px;
    background-color: #ebecf0;
    &:hover {
      background-color: #d8d8dd;
    }
  }
}

.BoardPage__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25));
    z-index: 2;
  }
}
