@import '../../App.variables.scss';

.boards-page__modal {
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    animation: modalAnim 0.2s ease;
  }

  @keyframes modalAnim {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.75);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .title-input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid $base-color;
    transition: 0.2s ease;

    &:focus {
      border: 3px solid $base-color-hover;
    }
  }

  .modal__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .modal__title {
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
  }

  h3.modal__title {
    font-size: 20px;
  }

  h4.modal__title {
    font-size: 16px;
    font-weight: 500;

    span {
      color: #df4545;
    }
  }

  h5.modal__title {
    font-size: 14px;
    font-weight: 500;
  }

  .modal__close {
    min-width: unset;
    padding: 0;
    width: 30px;
    height: 30px;

    .close-icon {
      opacity: 0.5;
      transition: 0.2s ease;
      &:hover {
        opacity: 1;
      }
    }
  }

  .color-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }

  .color__wrapper {
    flex-grow: 1;
    flex-basis: 85px;
    position: relative;
    height: 56px;
    padding: 0;
    border-radius: 5px;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
  }

  .modal__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.75);
    opacity: 0;
    transition: 0.2s ease;

    &.selected {
      opacity: 1;
    }
  }
}

.board-list__title {
  margin: 15px 0 !important;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px !important;
  font-weight: 500;
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.75vw 3.75%;
  justify-content: flex-start;
  width: 100%;
  padding: 0;

  .board {
    justify-self: start;
    position: relative;
    width: 17%;
    height: 100px;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .board__overlay {
        opacity: 1;
      }

      .board__delete,
      .board__edit {
        opacity: 1;
        transform: translateX(0);
      }
    }

    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
      0px 1px 5px 0px rgb(0 0 0 / 12%);
  }

  .board__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.8);
  }

  .board__click-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 5px 10px;
    overflow: hidden;
    z-index: 1;
  }

  .board__link {
    text-decoration: none;
    color: #fff;
  }

  .board__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    backdrop-filter: brightness(0.85);
    transition: 0.3s ease;
  }

  .board__title {
    position: relative;
    margin: 0;
    z-index: 5;
  }

  h2.board__title {
    font-size: 18px;
  }

  h6.board__title {
    font-size: 14px;
  }

  .board__delete {
    min-width: unset;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0;
    transform: translateX(10px);
    transition: 0.2s ease;
    z-index: 10;
  }

  .board__edit {
    min-width: unset;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 20px;
    height: 20px;
    opacity: 0;
    transform: translateX(40px);
    transition: 0.2s ease 0.2s;
    z-index: 10;
  }

  .board__create {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    color: rgba(0, 0, 0, 0.5);

    &:hover {
      background: #cecece;
    }
  }
}

@media screen and (max-width: 900px) {
  .boards-list {
    gap: 2.5vw 3.5%;

    .board {
      width: 31%;
    }
  }
}
