.Welcome {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;

  .content {
    width: 600px;
    line-height: 30px;
    font-size: 26px;
    margin-top: 100px;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }

  .image {
    line-height: 0;
    img {
      max-width: 700px;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;

    .content {
      margin-top: 0;
      text-align: center;
      width: 100%;
    }

    .image {
      text-align: center;
      margin-top: 50px;
      img {
        max-width: 100%;
        margin-bottom: 50px;
      }
    }
  }
}
