.ModalForm {
  margin: 0;
  min-width: 300px;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 40px;
  text-align: center;
  border-radius: 10px;

  h5 {
    font-weight: 300;
  }

  .close-icon {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    align-items: center;
    height: 70%;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .buttons,
  .form-select {
    display: flex;
    column-gap: 10px;
    align-items: baseline;
  }
}
