@import '../../App.variables.scss';

.Header {
  background: $base-color;
  padding: 20px 0;

  .navigation {
    display: flex;
    gap: 20px;

    .active {
      font-weight: bold;
    }

    .navigation-link {
      color: #fff;
      text-decoration: none;
    }
  }
}
