.Column {
  width: 300px;
  position: relative;
  max-height: 70vh;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  form {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .column-title {
    padding: 5px;
  }

  .column-title-input {
    background-color: #fff;
    input {
      padding: 5px;
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .delete-icon {
    position: absolute;
    bottom: 8px;
    right: 2px;
  }
}
