.Column {
  width: 300px;
  position: relative;
  max-height: 70vh;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  form {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .tasks {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .delete-icon {
    position: absolute;
    top: 8px;
    right: 2px;
  }
}
