.CardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  width: 100%;
  padding: 15px;

  .underlined {
    text-decoration: underline;
  }

  .close-icon {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .card-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
  }

  .card-about.inline {
    flex-direction: row;
    column-gap: 10px;
    align-items: baseline;
  }
}
