.TaskItem {
  width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  padding: 6px 8px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 5px;
  cursor: pointer;
  transition: background-color .3s;

  p {
    margin: 0;
    width: 90%;
    overflow-wrap: anywhere;
  }

  .edit-icon {
    opacity: 0;
    transition: opacity .3s;
    width: 20px;
    height: 20px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &:hover {
    background-color: #f2f2f2;
    .edit-icon {
      opacity: 1;
    }
  }
}